.ti{
    font-family: 'Artifika';
    font-size: 40px;
}
.tu{
    font-family: 'Artifika';
    font-size: 25px;
}
.te{
    font-family: 'Artifika';
    font-size: 20px;
}
.di{
    font-weight: 400;
    font-family: 'Artifika';
    color: #b1a7a6;
}
.mon{
    color: green;
    font-family: 'Artifika';
    font-weight: 600;
}