.uno{
    font-size: 40px;
}
.dos{
    font-size: 25px;
}
.tres{
    font-size: 55px;
}
.cuatro{
    font-size: 80px;
}
.cinco{
    font-size: 30px;
}
.seis{
    font-size: 60px;
}
.siete{
    font-size: 10px;
}
.ocho{
    font-size: 35px;
}
.nueve{
    font-size: 70px;
}
.diez{
    font-size: 120px;
}