.uno{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #2d7ca0;
}
.dos{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #478eaf;
}
.tres{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #60a5c3;
}
.cuatro{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #89c2d9;
}
.cinco{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #a8d7e5;
}
.seis{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #ef7674;
}
.siete{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #ed5666;
}
.ocho{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #da344d;
}
.nueve{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #d81e37;
}
.diez{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #c42249;
}
.once{
    font-family: 'Artifika';
    font-size: 30px;
    background-color: #a11c32;
}