.tc{
    font-size: 120px;
    font-weight: 800;
    font-family:'Montserrat';
}
.wea{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Montserrat';
}
.verde{
    color: green;
}
.azul{
    color: blue;
}